body, html {
    height: 100%;
    margin: 0px;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

main {
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Poppins';
    font-size: 36px;
}
h2 {
    font-family: 'Poppins';
    font-size: 24px;
}
p, a {
    font-family: 'Poppins';
    font-size: 18px;
}

.padding {
    padding: 10%;
}
.padding-2 {
    padding: 5%;
}
.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-bottom: 50px;
    z-index: 2;
}
.flex-wrapper-left {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.flex-wrapper-left h1, .flex-wrapper-left span {
    margin-left: 60px;
    margin-bottom: 30px;
}
.flex-wrapper-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;   
}
.underline {
    height: 5px;
    width: 200px;
    background-color: #40694f;
    -webkit-transform: translate3d(-40%,-50%,0);
    transform: translate3d(-40%,-50%,0);
}
.underline-2 {
    height: 5px;
    width: 100%;
    background-color: #40694f;
}
.underline-3 {
    height: 5px;
    width: 200px;
    background-color: #B4A290;
}
.underline-b {
    height: 5px;
    width: 200px;
    background-color: #B4A290;
    -webkit-transform: translate3d(-40%,-50%,0);
    transform: translate3d(-40%,-50%,0);
}
.text-center {
    text-align: center;
}
.bold{
    font-weight: bold;
}
.orange {
    color: #FF9900
}
.column {
 display: flex;
 flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.author {
    align-items: flex-end;
}
.author div {
    display: flex;
    justify-content: center;
}
.author p {
    margin: 5px;
}
/* ========================
Background
======================== */
.container {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    height: fit-content;
}
.background {
    background-color: white;
    color: black;
    text-shadow: none;
}
.backline {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #40694f;
}
section {
    filter: none;
    background-color: transparent;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
#section-4 {
    align-items: center;
}

/* ========================
Paralaxe
======================== */
.background-1 {
    content: '';
    position: absolute;
    top: 0;
    background-color: transparent;
    background-image: url("Assets/bg1.png");
    width: 100%;
    height: 100%;
    left: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: -1;
}
.background-2 {
    position: absolute;
    background-color: transparent;
    background-image: url("Assets/bg2.png");
    width: 100%;
    height: 100%;
    left: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: -1;
}
.background-3 {
    content: '';
    position: absolute;
    left: 0;
    background-color: transparent;
    background-image: url("Assets/bg3.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: -1;
}
.background-4 {
    content: '';
    position: absolute;
    top: 0;
    background-color: transparent;
    background-image: url("Assets/green-slate.jpg");
    width: 100%;
    height: 100%;
    left: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: -1;
}
.background-5 {
    content: '';
    position: absolute;
    top: 0;
    background-color: transparent;
    background-image: url("Assets/43540.jpg");
    width: 100%;
    height: 100%;
    left: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: -1;
}

/* ========================
Nav
======================== */

nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 10px;
    line-height: 50px;
    top:-1000px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 999;
}
nav a {
    padding: 0 20px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
nav div {
    margin-left: 15px;
    display: flex;
}
nav div a:hover {
    background-color: #40694f;
}

.scrolled {
    background-color: #333;
    top: 0px;
}

#scroll-1 {
    font-size: 24px;
    margin-left: 25px;
}
.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    transform: rotate(-5deg);
    filter: drop-shadow(2px 4px 6px black);
}
.logo2 {
    width: 50px;
    height: 50px;
    transform: rotate(-5deg);
    filter: drop-shadow(2px 4px 6px black);
}

/* ========================
BUTTON
======================== */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-decoration: none;
    color: #40694f;
    height: 70px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px black;
}
.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-decoration: none;
    color: #40694f;
    margin: 20px;
    text-shadow: none;
}

/* ========================
Images
======================== */
.image-section-middle-right {
    position: absolute;
    width: 181px;
    height: 181px;
    top: 100px;
    right: 100px;
    transform: rotate(5deg);
    filter: drop-shadow(2px 2px 6px black);
}
.image-section-middle-right .st0 {
 fill: #fff
}
.image-section-middle-left {
    height: 280px;
    transform: rotate(349deg);
    filter: drop-shadow(2px 2px 6px black);
}
.image-section-middle-right .st0 {
    fill: #fff
   }
.image-section-bottom-right {
    position: absolute;
    width: 205px;
    height: 205px;
    right: 0px;
    bottom: 120px;
    transform: rotate(2deg);
    filter: drop-shadow(2px 2px 6px black);
}
.image-section-bottom-right-little {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 10px;
    bottom: 10px;
    transform: rotate(2deg);
}
.image-section-bottom-left-little {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 40px;
    bottom: 40px;
    transform: rotate(350deg);
}
.image-section-bottom-left-little-cdt {
    width: 70px;
    height: 70px;
    transform: rotate(350deg);
}
.image-section-bottom-right-little-cdt {
    width: 70px;
    height: 70px;
    transform: rotate(10deg);
}
/* ========================
Card
======================== */
.card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    margin-bottom: 50px;
    flex-wrap: wrap;
    z-index: 2;
}
.card2 {
    position: relative;
    flex: 1;
    box-shadow: 1px 1px 4px grey;
    padding: 55px;
    margin: 27px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    z-index: 2;
    background-color: #fff;
}
.card {
    position: relative;
    flex: 1 0 21%;
    box-shadow: 1px 1px 4px grey;
    padding: 55px;
    margin: 27px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    z-index: 2;
    background-color: #fff;
}
.card p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .flex-wrapper {
    text-align: center;
}
.cdt {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 40px;
    font-style: italic;
    margin: 0;
}
.card-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    overflow: visible;
}
.card h2 {
    text-align: center;
}
.citations-card {
    position: relative;
    flex: 1;
    box-shadow: 1px 1px 4px grey;
    padding: 55px;
    border-radius: 60px;
    max-height: 50vh;
    text-overflow: ellipsis;
}
/* ========================
Card content
======================== */
.card-p:hover h2{
    display: none;
}
.card-p1:hover p:after{
    content: "React.JS / React-Native, le meilleur framework auquel j'ai pu toucher, il allie bien le code par composant, maintenance du code et facilité d'utilisation";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p2:hover p:after{
    content: "JavaScript / TypeScript, sont clairement mes préférés, ils demandent cependant beaucoup de rigueur afin d'avoir un code propre et maintenable, choses que je m'efforce de faire";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p3:hover p:after{
    content: "Html / CSS, Première chose que j'ai apprise avec le Python, j'ai su consolider mes bases avec l'expérience et le temps";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p4:hover p:after{
    content: "J'ai participé à un certains nombres de projet de toutes tailles en Ionic";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p5:hover p:after{
    content: "J'ai participé à un certains nombres de projet de toutes tailles en Angular";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p6:hover p:after{
    content: "MongoDb, afin de gérer mes données (généralement, quand j'utilise la stack MERN)";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p7:hover p:after{
    content: "Express, afin de gérer les routes de mes API pour mangoDB (généralement, quand j'utilise la stack MERN)";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p8:hover p:after{
    content: "Node.JS, j'ai pour habitude de l'utiliser avec Express afin de gérer mes API et base de Données Mongo";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p9:hover p:after{
    content: "Firebase pour l'utilisation d'une bd ou l'authentification (j'essaie de m'en passer en général)";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p10:hover p:after{
    content: "MySql / Sqlite sont essentiels pour l'apprentissage des bases de données, mais j'ai tendance à préférer MangoDB";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p11:hover p:after{
    content: "Java / Android sont des compétences natif que je maîtrise quoi que peu habitué";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.card-p12:hover p:after{
    content: "J'ai acquis une certaine maîtrise de DevOps via mon expérience, j'ai déjà participé à la création d'une petit CI qui vérifie que les tests passent bien";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p13:hover p:after{
    content: "J'ai acquis une certaine expérience avec les méthodes agile en particulier avec Scrum et Kanban";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.card-p14:hover p:after{
    content: "Je comprends bien et assez facilement l'Anglais, mais le parle avec plus de difficulté";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
/* ========================
contact
======================== */
.contact-container {
    height: 100vh;
}
.contact-container h2 {
    width: 100%;
    margin-top: 200px;
    text-align: center;
}
.note .row p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.note {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #B4A290;
    transform: rotate(5deg);
    max-width: 300px;
}
.contact-container {
    padding: 50px;
}
.icon {
    height: 100%;
    margin: 1em;
    transform: rotate(-20deg);
}
.note .data {
    margin-left: 20px;
    justify-content: left;
}
/* ========================
footer
======================== */
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #fff;
    background-color: #333;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
    margin-left: 20px;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }

  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  .footer a:hover {
    color: #40694f;
  }
  .footer__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .nav__ul a {
    color: #999;
  }
  .legal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #999;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}